{% extends 'Commanpages/Commanpage.html' %}
{% block content %}
<div class="col-xl-6 col-lg-6 wow slideInUp" data-wow-delay="0.3s">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-12">
                <input type="text" class="form-control border-0 bg-light px-4" required name="name" placeholder="Name" style="height: 55px;">
            </div>
            <div class="col-12">
                <input type="email" class="form-control border-0 bg-light px-4" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="Email" name="email" style="height: 55px;">
            </div>
            <div class="col-12">
                <input type="text" class="form-control border-0 bg-light px-4" pattern="[789][0-9]{9}" required placeholder="Phone" name="phone" style="height: 55px;">
            </div>
            <div class="col-12">
                <input type="text" class="form-control border-0 bg-light px-4" required placeholder="Address" name="address" style="height: 55px;">
            </div>
            <div class="col-12">
                <input type="Date" class="form-control border-0 bg-light px-4" required placeholder="Dob" name="dob" style="height: 55px;">
            </div>
            <div class="col-12">
                <input type="password" class="form-control border-0 bg-light px-4" required placeholder="Password" name="password" style="height: 55px;">
            </div>
            <div class="col-12">
                <input type="file" class="form-control border-0 bg-light px-4" required placeholder="Image" name="img" style="height: 55px;">
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                <br>
            </div>
        </div>
    </form>
</div>
{% endblock %}